<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar4_robot_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ar4_robot_arm urdf file -->
    <xacro:include filename="$(find robot_gripper)/urdf/robot_gripper_final.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ar4_robot_arm.ros2_control.xacro" />


    <xacro:ar4_robot_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
