<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ======================================================== -->
  <!-- |    Define world link and connect it to AR4 arm       | -->
  <!-- ======================================================== -->
<xacro:macro name="ar4_robot_arm">

  <joint name="world_to_base_link" type="fixed">
      <parent link="world" />
      <child link="base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>


  <!-- ================================================================================ -->
  <!-- |    Define the inertial, visual, and collision properties for each link       | -->
  <!-- ================================================================================ -->
  <link name="base_link">
    <inertial>
      <origin xyz="-1.3054279819885356e-05 0.010837905887235473 0.04382587545310577" rpy="0 0 0"/>
      <mass value="4.780235936840719"/>
      <inertia ixx="0.027126" iyy="0.008814" izz="0.027978" ixy="5e-06" iyz="-0.002965" ixz="-1e-06"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_1_1">
    <inertial>
      <origin xyz="-0.033591683880685404 -0.04299730866577258 0.03870117974632281" rpy="0 0 0"/>
      <mass value="6.904123236906865"/>
      <inertia ixx="0.02636" iyy="0.039954" izz="0.028681" ixy="-0.004903" iyz="0.008422" ixz="0.010237"/>
    </inertial>

    <visual>
      <origin xyz="4.1e-05 0.047662 -0.0867" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="4.1e-05 0.047662 -0.0867" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_2_1">
    <inertial>
      <origin xyz="0.03067994852897086 0.0001490317608649483 0.11222809649592336" rpy="0 0 0"/>
      <mass value="3.537024557820932"/>
      <inertia ixx="0.031661" iyy="0.033986" izz="0.004257" ixy="2.7e-05" iyz="0.000108" ixz="-0.002571"/>
    </inertial>

    <visual>
      <origin xyz="0.000484 0.111875 -0.169273" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.000484 0.111875 -0.169273" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_3_1">
    <inertial>
      <origin xyz="-0.02756512347392934 0.0010864623155260045 -0.02366223706432863" rpy="0 0 0"/>
      <mass value="1.4021740871679835"/>
      <inertia ixx="0.00165" iyy="0.001322" izz="0.001031" ixy="5.3e-05" iyz="0.000249" ixz="-0.000229"/>
    </inertial>

    <visual>
      <origin xyz="-0.030531 0.111983 -0.474286" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="-0.030531 0.111983 -0.474286" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_4_1">
    <inertial>
      <origin xyz="0.0018624593897472418 -0.03843492533273696 -3.322295123819874e-05" rpy="0 0 0"/>
      <mass value="2.747813476880282"/>
      <inertia ixx="0.022988" iyy="0.001749" izz="0.023479" ixy="0.000526" iyz="-3e-06" ixz="3e-06"/>
    </inertial>

    <visual>
      <origin xyz="0.005668 0.147322 -0.474286" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.005668 0.147322 -0.474286" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_5_1">
    <inertial>
      <origin xyz="0.02270013203585901 -1.3275178824656564e-05 -0.012508526423141542" rpy="0 0 0"/>
      <mass value="0.9130883775577864"/>
      <inertia ixx="0.000436" iyy="0.000656" izz="0.000416" ixy="-0.0" iyz="0.0" ixz="-2.5e-05"/>
    </inertial>

    <visual>
      <origin xyz="0.025643 0.333976 -0.474284" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_5_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.025643 0.333976 -0.474284" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_5_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_6_1">
    <inertial>
      <origin xyz="5.191624631410707e-07 -3.0402013346253476e-06 0.009147831827200414" rpy="0 0 0"/>
      <mass value="0.10863438053794251"/>
      <inertia ixx="1.1e-05" iyy="1.3e-05" izz="1.9e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>

    <visual>
      <origin xyz="0.005143 0.333976 -0.494534" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_6_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
        <color rgba="1.000 0.300 0.100 1.000"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.005143 0.333976 -0.494534" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ar4_robot_arm_description/meshes/link_6_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>


  <!-- =========================================================== -->
  <!-- |    Define the AR4 arm joints and their properties       | -->
  <!-- =========================================================== -->
  <joint name="joint_1" type="revolute">
    <origin xyz="-4.1e-05 -0.047662 0.0867" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link_1_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit upper="6.283185" lower="0.0" effort="100" velocity="100"/>
  </joint>

  <joint name="joint_2" type="revolute">
    <origin xyz="-0.000443 -0.064213 0.082573" rpy="0 0 0"/>
    <parent link="link_1_1"/>
    <child link="link_2_1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit upper="1.570796" lower="-0.785398" effort="100" velocity="100"/>
  </joint>

  <joint name="joint_3" type="revolute">
    <origin xyz="0.031015 -0.000108 0.305013" rpy="0 0 0"/>
    <parent link="link_2_1"/>
    <child link="link_3_1"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit upper="1.570796" lower="-0.785398" effort="100" velocity="100"/>
  </joint>

  <joint name="joint_4" type="revolute">
    <origin xyz="-0.036199 -0.035339 0.0" rpy="0 0 0"/>
    <parent link="link_3_1"/>
    <child link="link_4_1"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit upper="6.283185" lower="0.0" effort="100" velocity="100"/>
  </joint>

  <joint name="joint_5" type="revolute">
    <origin xyz="-0.019975 -0.186654 -2e-06" rpy="0 0 0"/>
    <parent link="link_4_1"/>
    <child link="link_5_1"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit upper="0.261799" lower="-3.403392" effort="100" velocity="100"/>
  </joint>

  <joint name="joint_6" type="revolute">
    <origin xyz="0.0205 0.0 0.02025" rpy="0 0 0"/>
    <parent link="link_5_1"/>
    <child link="link_6_1"/>
    <axis xyz="-0.0 0.0 -1.0"/>
    <limit upper="6.283185" lower="0.0" effort="100" velocity="100"/>
  </joint>


</xacro:macro>
</robot>
