<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar4_robot_arm">

<xacro:include filename="$(find ar4_robot_arm_description)/urdf/ar4_robot_arm.xacro"/>
<xacro:include filename="$(find robot_gripper)/urdf/gripper_macro.xacro"/>


<!-- world link-->

    <link name="world"/>

    <xacro:ar4_robot_arm/>
    <xacro:gripper/>


<link name="gripper_adapter_link">
    <inertial>
        <mass value="0.01"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
        <geometry>
            <box size="0.001 0.001 0.001"/> 
        </geometry>
    </visual>
    <collision>
        <geometry>
            <box size="0.001 0.001 0.001"/> 
        </geometry>
    </collision>
</link>

<joint name="link_6_1_to_adapter" type="fixed">
    <parent link="link_6_1"/>
    <child link="gripper_adapter_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="adapter_gripper" type="fixed">
    <parent link="gripper_adapter_link"/>
    <child link="gripper_base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>  
</joint>



</robot>